.getStarted-content {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 443px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 100px 100px 100px 100px;*/
    background-color: #ccc5b9;
    overflow: visible;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 20;
    border-radius: 0px 0px 0px 0px;
  }

  .text {
  
      flex-shrink: 0;
      width: 100%;
      height: auto; /* 57px */
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-word;
      max-width: 800px;
      overflow: visible;
      position: relative;
      font-weight: 400;
      font-style: normal;
      font-family: "Jua", "Jua Placeholder", sans-serif;
      color: #403d39;
      font-size: 48px;
      letter-spacing: 0em;
      line-height: 1.2;
      text-align: center;
    
  }

  p {
   
      flex-shrink: 0;
      width: 411px;
      height: auto; /* 96px */
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-word;
      max-width: 100%;
      overflow: visible;
      position: relative;
      font-weight: 400;
      font-style: normal;
      font-family: "Golos Text", "Golos Text Placeholder", sans-serif;
      color: #403d39;
      font-size: 16px;
      letter-spacing: 0em;
      line-height: 1.5;
      text-align: center;
    }
    .columns {
     
        box-sizing: border-box;
        flex-shrink: 0;
        width: min-content; /* 160px */
        height: min-content; /* 50px */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 0px 0px;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: nowrap;
        gap: 10px;
        border-radius: 0px 0px 0px 0px;
      
    }
  
    .button {
      box-sizing: border-box;
      flex-shrink: 0;
      width: min-content; /* 83px */
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 15px 15px 15px 15px;
      background-color: #000000;
      overflow: visible;
      position: relative;
      align-content: center;
      flex-wrap: nowrap;
      gap: 10;
      border-radius: 8px;
    }

    .login {
      flex-shrink: 0;
      width: auto; /* 37px */
      height: auto; /* 17px */
      white-space: pre;
      position: relative;
      font-weight: 400;
      font-style: normal;
      font-family: "Golos Text", "Golos Text Placeholder", sans-serif;
      color: #000000;
      font-size: 14px;
      letter-spacing: 0em;
      line-height: 1.2;
      text-align: center;
    }

    .sign-up {
      flex-shrink: 0;
      width: auto; /* 53px */
      height: auto; /* 17px */
      white-space: pre;
      position: relative;
      font-weight: 400;
      font-style: normal;
      font-family: "Golos Text", "Golos Text Placeholder", sans-serif;
      color: #fffcf2;
      font-size: 14px;
      letter-spacing: 0em;
      line-height: 1.2;
      text-align: center;
    }

    .signUp-button {
      background-color: #000000;
    }