body {
  margin: 0; 
  font-family: Arial, sans-serif;
 
}
.room-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 70px;
    background-color: transparent;
  }

  .room-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    background-color: transparent;
  }
  
  .room-item {
    flex: 1 1 200px;
    height: 200px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd; 
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    background: linear-gradient(45deg, grey, white);
  
  }
  
  .room-item:hover {
    transform: scale(1.1); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    border-color: #1c2541; 
    transform: scale(1.05) rotate(3deg); 
    color: #1c2541;
   
  }
  
  .room-item div {
    margin-bottom: 8px;
  }
  
  .room-item strong {
    
    color: #333;
    font-weight: normal;
  }
  
  

  li {
    list-style-type: none;
  }

  .room-link {
    text-decoration: none;
    color: #1c2541;
    font-weight: bold;
    transition: color 0.2s; 
  }
  
  .room-link:hover {
    color: #1c2541; 
  }

  .buttons-container {
   height: 40px;
   width: 200px;
   gap: 10px;
   padding-left: 40rem;
   background-color: transparent;
  }

  .buttons-container button{
    background-color: #1c2541;
    color: white; 
    border: 1px solid #1c2541;
    border-radius: 6px;
   }
   
   .buttons-container button:hover{
    background-color: #0e1422;
    border: 1px solid #0e1422;
   }
 
   .room-list-container:hover + body {
    background-color: #f0f0f0; 
  }

  .room-icon {
   
    background: linear-gradient(45deg, grey, white);
    border: 8px solid grey;
    border-radius: 8px;
  }

  .room-name, .room-info {
    background: linear-gradient(45deg, grey, white);
    color: #fff; 
    border: 4px solid grey;
    border-radius: 8px;
   
  }