body {
  padding: 0;
  margin: 0;
}

.container{
    width: 100%;
    height: 300px;
    margin: 0;
}

.hero{
  width: 100%;
  height: min-content; /* 545px */
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #f15946;
  align-content: center;
}

.title{
  height: auto; /* 326px */
  font-weight: 400;
  font-style: normal;
  font-family: "Silkscreen", sans-serif;
  color: #000000;
  font-size: 300px;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
  background-color:#f15946 ;
}

.hero2 {
  width: 89.6%;
  height: 24.5vh; /* 388px */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px;
  background-color: #f9c22e;
  align-content: center;
  margin: 0;
}

.content {
  width: 100%;
  height: min-content; /* 188px */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1000px;
  padding: 0;
  align-content: flex-start;
  background-color: #f9c22e;
  
}


.title2 {
  width: 100%;
  height: auto; /* 58px */
  font-weight: 400;
  font-style: normal;
  font-family: "Silkscreen", sans-serif;
  color: #0c090d;
  font-size: 48px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: left;
  background-color: #f9c22e;
}


.text {
  width: 100%;
  height: auto; /* 90px */
  font-weight: 400;
  font-style: normal;
  font-family: "Spline Sans Mono", monospace;
  color: #0c090d;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  background-color: #f9c22e;
}


.getBack{
  width: 89.5%;
  height: 35vh; /* 638px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: #000000;
  align-content: center;
  flex-wrap: nowrap;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: min-content; /* 438px */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1000px;
  padding: 0;
  align-content: center;
  background-color: #000000;
}


.title3 {
  width: 80%;
  height: auto; /* 116px */
  font-weight: 400;
  font-style: normal;
  font-family: "Silkscreen", sans-serif;
  color: #f15946;
  font-size: 48px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
  background-color: #000000;
}



.homeButton {
  width: 10%; /* 63px */
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  align-content: center;
  font-weight: 700;
  font-style: normal;
  font-family: "Spline Sans Mono", monospace;
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}
