
.homepage {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201012/pngtree-grey-and-white-clouds-background-image_413281.jpg);
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f1f1f1;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  
.left-section {
    background-color: #f1f1f1;
    padding: 2rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
  }
  
  .left-section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    background-color: #f1f1f1;
  }
  
  .left-section p {
    font-size: 1.2rem;
    color: #333;
    background-color: #f1f1f1;
  }
  
  .get-started-btn {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #1c2541;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    height: 40px;
    width: 200px;
    margin-left: 29%;
    text-decoration: none;
  }
  
  .get-started-btn:hover {
    background-color: #3c466e;
  }

  
  
  
  
  
  
  

  

  
  

  
  
  